.edit-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 15px 20px 10px;
  display: flex;
  flex-direction: column;
}
.set-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 14px;
}
.edit-back-btn {
  display: block;
  margin: 0;
  padding: 4px 22px;
  width: 133px;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--main-gray);
  color: var(--primary-white);
  border: transparent;
  outline: none;

  &:hover {
    background-color: var(--green);
  }
}
.edit-info {
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  background: var(--rectangle-bg);
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 23px;
}
.edit-top,
.edit-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.edit-bottom {
  align-items: last baseline;
}

.edit-status-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.edit-delete-btn {
  &:hover {
    background-color: var(--unavailable-color);
  }
}

.edit-status-select {
  background-color: var(--main-gray);
  border-radius: 5px;
  color: var(--primary-white);
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 22px;
  max-height: 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  &:hover {
    background-color: var(--green);
  }
}

.edit-status-select::-ms-expand {
  display: none;
}